body{
background-color:  #c2cef8;
}

h2, h3 {
  color:  #696969
}

#uploadBox {
      border-radius: 25px;
     padding: 20px;
     width: 200px;
     height: 150px;
     background-color:#0b445c;
     color:white
}

